<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ajaxStop</title>
</head>

<body>
    <div id="root">
        Ajax Req Count = <span id="counter">0</span>
    </div>
</body>
<script src="index.js"></script>
</html>